/* Style component 1
========================================================*/
:host{
  --img-logo: 72px;
  --facebook-button-background-color: var(--cs-background-primary);
  --facebook-button-text-color: var(--cs-text-color-primary);

}

ion-content {
  --offset-top: calc(-56px - var(--ion-safe-area-top, 0)) !important;


  ion-grid,
  ion-row {
    height: 100%;

    ion-img {
      width: var(--img-logo);
      text-align: center;
      margin: 0 auto;
    }

    form {
      ion-item {
        --padding-start: 0 !important;
        --inner-padding-end: 0;
        --background: transparent;

        ion-input {
          --background: var(--cs-background-primary) !important;
          --padding-bottom: 10px;
          --padding-end: 10px;
          --padding-start: 10px;
          --padding-top: 10px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
          margin: 10px 16px !important;
          width: calc(100% - 32px);
          border-radius: 5px;
        }

        ion-icon {
          position: absolute;
          right: 25px;
          bottom: 22px;
          z-index: 999;
        }

        ion-label {
          margin: 5px 0 0 0 !important;
          transform: none;
        }
      }

      .facebook-button {
        --background-hover: var(--facebook-button-background-color) !important;
        --color-hover: var(--facebook-button-text-color) !important;
        --background: var(--facebook-button-background-color) !important;
        --color: var(--facebook-button-text-color) !important;
        --color-activated: var(--facebook-button-text-color) !important;
        --color-focused: var(--facebook-button-text-color) !important;
        border-radius: 5px;
      }
    }
  }
}
