/* Profile 4
========================================*/
ion-card {
  overflow: visible;
  border-radius: var(--border-radius, 5px);
  margin: 5px 10px;

  ion-avatar {
    margin: -40px auto 0;
  }

  .social-share {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

/* Settings Slider
======================================*/
ion-slides {
  overflow: visible;
  img {
    width: 100%;
  }
}
