.bull-shot {
  /* Settings Fonts Size And Icon Size
  =======================================================
  =======================================================*/
  --fallback-color: red;
  --h1-font-size: 24px;
  --h2-font-size: 22px;
  --h3-font-size: 17px;
  --h4-font-size: 15px;
  --h5-font-size: 12px;
  --h6-font-size: 12px;
  --text-font-size: 14px;

  /* Settings Fonts Size Icon
      =======================================================
      =======================================================*/
  --icon-size-small: 17px;
  --icon-size-medium: 22px;
  --icon-size-large: 32px;

  /* Settings Color Background Our App
    =======================================================
    =======================================================*/
  --cs-background-primary: #fff;
  --cs-background-secondary: #F5F5F5;
  --cs-background-accent: #7A4D20;
  --cs-background-dark: #7f8490;
  --cs-background-border: #C7C7CC;

  /* Settings Color Text Our App
    =======================================================
    =======================================================*/
  --cs-text-primary: #30384C;
  --cs-text-secondary: #7F8490;
  --cs-text-light: #ffffff;
  --cs-text-accent: #7A4D20;

  /* Settings Size Avatar
    =======================================================
    =======================================================*/
  --size-avatar: 72px;

  /* Settings Size Thumbnail
    =======================================================
    =======================================================*/
  --size-thumbnail: 120px;

  /* Settings Border Radius
    =======================================================
    =======================================================*/
  --border-radius: 5px;

  /* Settings Color Icon
    =======================================================
    =======================================================*/
  --cs-icon-color-primary: #7A4D20;
  --cs-icon-color-secondary: #30384C;
  --cs-icon-color-light: #fff;
}
