/* Style component 2
========================================================*/

ion-item-option {
  --background: var(--cs-background-accent, #FB5135);

  .clear-button {
    color: var(--cs-text-color-light, #fff);
  }
}

ion-label {
  overflow: visible !important;
}
