<!-- DRAGEN AND DROP --COMPONENT 1 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list>
        <ion-list-header class="box-shadow">
          <ion-item lines="none" class="ion-no-padding">
            <!-- Header Title -->
            <ion-label>
              <h1 class="text-size-md text-color-accent font-regular">{{data.header}}</h1>
            </ion-label>
          </ion-item>
        </ion-list-header>
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <ion-label>
              <!-- Content Title -->
              <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">{{item.title}}</h2>
              <!-- Content Subtitle -->
              <h3 class="text-size-xs text-color-primary font-light ion-text-wrap">{{item.subtitle}}</h3>
              <!-- Content Subtitle -->
              <p class="text-size-xs text-color-primary font-bold ion-text-wrap">{{item.description}}</p>
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
