<!--Themes Simple -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list>
        <!-- Header-title -->
        <ion-list-header class="box-shadow ion-margin-bottom">
          <h1 class="text-size-md text-color-accent
          font-regular ion-text-capitalize">{{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-item *ngFor="let entry of data.items">
          <ion-thumbnail>
            <img [src]="entry.avatar" />
          </ion-thumbnail>
          <ion-label class="ion-padding-start">
            <h2 class="text-size-md text-color-primary
            font-bold ion-text-wrap">{{entry.title}}</h2>
            <h3 class="text-size-xs text-color-primary
            font-light ion-text-wrap">{{entry.subtitle}}</h3>
          </ion-label>
          <ion-toggle [value]="entry.id"
          (ionChange)="onItemClickFunc(entry)"
          [checked]="entry.isChecked">
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
