<ion-content>
  <div class="background-size"
  [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
    <div class="title-section">
      <!-- Category -->
      <span class="new-category ion-text-uppercase">{{data.category}}</span>
      <!-- Parallax-title -->
      <h1 class="text-size-xl text-color-light
      font-bold ion-text-wrap">{{data.title}}</h1>
    </div>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="box-shadow">
          <!-- Avatar-->
          <ion-avatar slot="start">
            <img [src]="data.avatar" />
          </ion-avatar>
          <ion-label>
            <h2 class="text-size-md text-color-primary font-bold">
              {{data.subtitle}}</h2>
          </ion-label>
          <ion-button class="button-action-shit"
          (click)="presentActionSheet(data, $event)">
            <ion-icon [name]="data.shareIcon"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none" *ngFor="let item of data.items;let i = index">
          <!-- Parallax-description -->
          <p class="text-size-md text-color-secondary
          font-regular ion-text-wrap">{{item.subtitle}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
