<!--Themes Simple -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list lines="none">
        <!-- Header Title Top -->
        <ion-list-header class="box-shadow ion-margin-bottom">
          <h1 class="text-size-md text-color-accent font-regular">
            {{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-radio-group [(ngModel)]="data.selectedItem">
          <ion-item lines="inset"
          *ngFor="let entry of data.items" 
          (click)="onItemClickFunc(entry, $event)">
            <ion-thumbnail>
              <img [src]="entry.avatar">
            </ion-thumbnail>
            <ion-label class="ion-padding-start">
              <h2 class="text-size-md text-color-primary
              font-bold ion-text-wrap">{{entry.title}}</h2>
              <h3 class="text-size-xs text-color-primary
              font-regular ion-text-wrap">{{entry.subtitle}}</h3>
            </ion-label>
            <ion-radio [value]="entry.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
