/* Style component 2
========================================================*/
:host {}

ion-content {
  ion-grid,
  ion-row {
    height: 100%;

    .background-size {
      height: 250px;

      .register-title {
        position: absolute;
        bottom: 16px;
        left: 16px;
      }
    }

    form {
      ion-item {
        --padding-start: 0 !important;
        --inner-padding-end: 0;
        --background: transparent;

        ion-input {
          --background: var(--cs-background-primary) !important;
          --padding-bottom: 10px;
          --padding-end: 10px;
          --padding-start: 10px;
          --padding-top: 10px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
          margin: 10px 16px !important;
          width: calc(100% - 32px);
          border-radius: 5px;
        }

        ion-icon {
          position: absolute;
          right: 25px;
          bottom: 22px;
          z-index: 999;
        }

        ion-label {
          transform: none;
          margin: 5px 0 0 0 !important;
        }
      }
    }
  }
}
