<!-- ANIMATION --COMPONENT 1 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row class="ion-padding-top">
    <ion-col class="ion-no-padding" size="12">
      <ion-list appAnimateItems className="fadeInRight">
        <ion-item *ngFor="let entry of data" (click)="onItemClickFunc(entry)" class="animation-fast opacity-0">
          <ion-label>
            <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
              {{entry.title}}</h2>
            <h3 class="text-size-xs text-color-secondary font-regular ion-text-wrap">
              {{entry.subtitle}}</h3>
            <h3 class="text-size-xs text-color-primary font-medium ion-text-wrap">
              {{entry.detail}}</h3>
          </ion-label>
          <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
