<!-- DRAGEN AND DROP --COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list>
        <!--Header-->
        <ion-list-header class="box-shadow ion-padding-top ion-padding-bottom">
          <ion-label lines="none">
            <h1 class="text-size-md text-color-accent font-regular ion-text-wrap ion-padding-bottom">
              {{data.header}}</h1>
              <h1 class="text-size-md text-color-primary font-bold ion-text-wrap">
                {{data.title}}</h1>
              <h2 class="text-size-xs text-color-primary font-light ion-text-wrap">
                {{data.subtitle}}</h2>
            </ion-label>
            <!--Header Button Procead---->
            <ion-button class="default-button box-shadow ion-margin-end
            ion-margin-start" (click)="onProceedFunc(data, $event)">
              {{data.button}}
            </ion-button>
        </ion-list-header>
        <!-- Content -->
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <!-- Avatar -->
            <ion-thumbnail>
              <img [src]="item.image">
            </ion-thumbnail>
            <ion-label class="ion-padding-start">
              <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">{{item.title}}</h2>
              <h3 class="text-size-xs text-color-primary font-light ion-text-wrap">{{item.subtitle}}</h3>
              <!-- Badge -->
              <ion-badge>{{item.price}}</ion-badge>
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
