// Lato light
@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

// Lato Regular
@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

// Lato Bold
@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
