// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /* Settings Fonts Size And Icon Size
      =======================================================
      =======================================================*/
  --fallback-color: red;
  --ion-color-primary: #a92c24;
  --h1-font-size: 24px;
  --h2-font-size: 22px;
  --h3-font-size: 17px;
  --h4-font-size: 15px;
  --h5-font-size: 12px;
  --h6-font-size: 12px;
  --text-font-size: 14px;

  /* Settings Fonts Size Icon
      =======================================================
      =======================================================*/
  --icon-size-small: 17px;
  --icon-size-medium: 22px;
  --icon-size-large: 32px;

  /* Settings Color Background Our App
    =======================================================
    =======================================================*/
  --cs-background-primary: #fff;
  --cs-background-secondary: #F5F5F5;
  --cs-background-accent: #a92c24;
  --cs-background-dark: #7f8490;
  --cs-background-border: #C7C7CC;

  --ion-color-step-800: #C7C7CC;
  --ion-color-base: #f9f9f9;

  /* Settings Color Text Our App
    =======================================================
    =======================================================*/
  --cs-text-primary: #30384C;
  --cs-text-secondary: #7F8490;
  --cs-text-light: #ffffff;
  --cs-text-accent: #a92c24;

  /* Settings Size Avatar
    =======================================================
    =======================================================*/
  --size-avatar: 72px;

  /* Settings Size Thumbnail
    =======================================================
    =======================================================*/
  --size-thumbnail: 120px;

  /* Settings Border Radius
    =======================================================
    =======================================================*/
  --border-radius: 5px;

  /* Settings Color Icon
    =======================================================
    =======================================================*/
  --cs-icon-color-primary: #a72f28;
  --cs-icon-color-secondary: #30384C;
  --cs-icon-color-light: #fff;
}


/* INCLUDE FONTS
=======================================================
=======================================================*/
@import "fontello";
@import "comfortaa";
@import "lato";
@import "rtl";
@import "animation";

/* INCLUDE FONTS AND COLOR COMBINATION
=======================================================
=======================================================*/
@import "themes-color/sunset-orange";
@import "themes-color/mocha";
@import "themes-color/seagull";
@import "themes-color/turquoise";
@import "themes-color/bull-shot";
@import "themes-color/olive-drab";
@import "themes-color/flush-orange";
@import "themes-color/my-sin";
@import "themes-color/pastel-green";
@import "themes-color/emerald";


//////////////////////////////////////////////////
// Theme: Ionic 4 UI Theme/Template App - Material Design - Orange-Light
// Web Site: https://csform.com/
// Author: CSFORM
// Email support:  dev@csform.com
//////////////////////////////////////////////////

/* Setting Avatar
=======================================================
=======================================================*/
ion-avatar {
  height: var(--size-avatar);
  width: var(--size-avatar);
}

.ios {
  ion-avatar {
    margin: 8px 0;
  }
}

/* Setting Thumbnail
=======================================================
=======================================================*/
ion-thumbnail {
  --border-radius: 5px;
  height: var(--size-thumbnail);
  width: var(--size-thumbnail);
}
.ios {
  ion-thumbnail {
    margin: 8px 0;
  }
}

/* SETTINGS ION-HEADER
=======================================================
=======================================================*/

.header-md:after {
  background-image: none !important;
}

/* SETTINGS TOOLBAR
=======================================================
=======================================================*/
ion-toolbar {
  --background: var(--cs-background-primary, #fff);
  --color: var(--cs-text-accent, #a92c24);
  --border-color: transparent;

  [slot=start] {
    margin-inline-end: 0;
  }

  .ios {
    ion-back-button,
    ion-menu-button {
      --color: var(--cs-text-accent, #a92c24);
    }
  }

  ion-title {
    font-weight: 400 !important;
    font-size: var(--h3-font-size, 17px) !important;
  }
}

ion-item {
  --ripple-color: transparent;
}

.margin-half {
  margin: 8px;
}

.padding-half {
  padding: 8px;
}

body {
  --ion-font-family: "Lato" , "Helvetica-Neue", "Roboto", sans-serif !important;
}

/* SETTINGS FONT SIZE
=======================================================
=======================================================*/

.text-size-xl {
  font-size: var(--h1-font-size, 24px) !important;
  line-height: 29px;
  letter-spacing: 1px;
}

.text-size-lg {
  font-size: var(--h2-font-size, 22px) !important;
  line-height: 27px;
  letter-spacing: 1px;
}

.text-size-md {
  font-size: var(--h3-font-size, 17px) !important;
  line-height: 22px;
  letter-spacing: 1px;
}

.text-size-xs {
  font-size: var(--h4-font-size, 15px) !important;
  line-height: 20px;
  letter-spacing: 1px;
}

.text-size-sm {
  font-size: var(--h5-font-size, 12px) !important;
  line-height: 18px;
  letter-spacing: 1px;
}

.text-size-p {
  font-size: var(--text-font-size, 14px) !important;
  line-height: 20px;
  letter-spacing: 1px;
}

.text-nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* SETTINGS FONT WEIGHT
=======================================================
=======================================================*/

.font-light {
  font-weight: 300 !important;
}

.font-regular {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-bold {
  font-weight: 700 !important;
}

/* SETTINGS COLOR
=======================================================
=======================================================*/

.text-color-primary {
  color: var(--cs-text-primary, #30384C) !important;
}

.text-color-secondary {
  color: var(--cs-text-secondary, #7F8490) !important;
}

.text-color-accent {
  color: var(--cs-text-accent, #a92c24) !important;
}

.text-color-light {
  color: var(--cs-text-light, #ffffff) !important;
}

/* SETTINGS COLOR BACKGROUND OUR APP
=======================================================
=======================================================*/
ion-page {
  background: var(--cs-background-primary, #fff);
}

ion-content {
  --background: var(--cs-background-primary, #fff);
}

ion-list {
  padding-top: 0 !important;
}

/* SETTINGS ITEM SLIDING
=======================================================
=======================================================*/

ion-item-option {
  --background: var(--cs-background-secondary, #F5F5F5);
  width: auto;
}

/* SETTINGS ITEM
=======================================================
=======================================================*/

ion-item {
  --border-color: var(--cs-background-border);
}

/* SETTINGS MAIN MENU
=======================================================
=======================================================*/

.ion-menu-toggle,
ion-menu-toggle {
  .icon-small {
    margin-right: 10px;
  }

  ion-label {
    overflow: hidden !important;

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* SETTINGS COLOR AND SIZE ICON
=======================================================
=======================================================*/
.icon-small {
  color: var(--cs-icon-color-primary, #a92c24);
  font-size: var(--icon-size-small, 17px);
}

.icon-medium {
  color: var(--cs-icon-color-primary, #a92c24);
  font-size: var(--icon-size-medium, 22px);
}

.icon-large {
  color: var(--cs-icon-color-secondary);
  font-size: var(--icon-size-large, 32px);
}


/* SETTINGS BUTTON SIZE
=======================================================
=======================================================*/

.default-button {
  --color: var(--cs-text-light, #ffffff) ;
  --background: var(--cs-background-accent, #a92c24) !important;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 20px;
  --padding-end: 20px;
  --border-radius: 5px;
  --box-shadow: none;
  font-size: var(--h4-font-size, 15px);
  font-weight: bold;
  height: auto;
  --background-hover: var(--cs-background-accent, rgb(110, 17, 10)) !important;
  --color-hover:  var(--cs-text-light, #ffffff);
  --color-activated: var(--cs-text-light, #ffffff);
  --color-focused: var(--cs-text-light, #ffffff);
}

.button-icon {
  --background: var(--cs-background-primary, #ffffff) !important;
  --color: var(--cs-text-primary, #30384C) !important;
  --border-radius: 5px !important;
  --box-shadow: none;
  font-size: var(--h4-font-size, 15px) !important;
  font-weight: bold !important;
  --background-hover: var(--cs-background-primary, #ffffff) !important;
  --color-hover: var(--cs-text-primary, #6e110a);
  --color-activated: var(--cs-text-primary, #6e110a)!important;
  --color-focused: var(--cs-text-primary, #6e110a)!important;

  [slot=start] {
    margin-inline-end: 8px !important;
  }
}

.clear-button {
  --background: transparent !important;
  --color: var(--cs-text-primary, #30384C)!important;
  --border-radius: 5px !important;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 10px;
  --padding-end: 10px;
  --box-shadow: none;
  font-size: var(--h3-font-size, 17px) !important;
  font-weight: bold !important;
  height: auto;
  --background-hover: transparent !important;
  --color-hover: var(--cs-text-primary, #30384C)!important;
  --color-activated: var(--cs-text-primary, #30384C)!important;
  --color-focused: var(--cs-text-primary, #30384C)!important;
}

.button-action-shit {
  --border-radius: 50% !important;
  min-height: 40px !important;
  min-width: 40px;
  --box-shadow: none !important;
  --background: transparent !important;
  --background-hover: transparent !important;

  ion-icon {
    font-size: var(--h1-font-size, 24px);
    color: var(--cs-icon-color-light);
  }
}

  ion-button {
    --ripple-color: transparent !important;
    --color-focused: transparent;
  }

  ion-ripple-effect {
    color: transparent;
  }

/* SETTINGS INPUT FIELD
=======================================================
=======================================================*/

.input {
  .icon-small {
    color: red;
  }
}
/* SETTINGS CHECK BOX
=======================================================
=======================================================*/

ion-checkbox {
  --background-checked: var(--cs-background-accent, #a92c24);
  --border-color-checked: var(--cs-background-accent, #a92c24);
  --border-color: var(--cs-background-dark, #7f8490);
  --border-radius: 4px;
  --checkmark-color: var(--cs-text-light, #ffffff);
}

/* SETTINGS TOOGLE
=======================================================
=======================================================*/

ion-toggle {
  --background: var(--cs-background-border, #C7C7CC);
  --background-checked: var(--cs-background-accent, #a92c24);
  --handle-background: var(--cs-background-primary, #fff);
  --handle-background-checked: var(--cs-background-primary, #fff);
  padding-inline-start: 4px;
  padding-inline-end: 4px;
}

/* SETTINGS RADIO
=======================================================
=======================================================*/

ion-radio {
  --color: var(--cs-background-dark, #7f8490);
  --color-checked: var(--cs-background-accent, #a92c24);
}
/* SETTINGS TABS
=======================================================
=======================================================*/

ion-tab-bar {
  --background: var(--cs-background-primary, #fff);
}

ion-tab-button {
  font-size: var(--h4-font-size, 15px);
  --color: var(--cs-text-primary, #30384C);
  --color-selected: var(--cs-text-accent, #a92c24);
  --ripple-color: rgba(0, 0, 0, 0.1);

  .ripple-effect {
    display: none !important;
  }
}
/* SETTINGS RANGE
=======================================================
=======================================================*/

ion-range {
  --knob-background: var(--cs-background-accent, #a92c24);
  --bar-background-active: var(--cs-background-accent, #a92c24);
  --bar-background: var(--cs-background-border, #C7C7CC);
  --pin-background: var(--cs-background-accent, #a92c24);
}

/* SETTINGS ION-BADGE
=======================================================
=======================================================*/

ion-badge {
  --background: var(--cs-background-accent, #a92c24);
  --color: var(--cs-text-light, #ffffff);
  --padding-bottom: 5px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 5px;
  border-radius: 5px;
  font-weight: 400;
  font-size: var(--h4-font-size, 15px);
}

/* SETTINGS SEARCHBAR
=======================================================
=======================================================*/

ion-searchbar {
  --background: #F3F3F3 !important;
  --cancel-button-color: var(--cs-text-primary, #30384C) !important;
  --clear-button-color: var(--cs-text-primary, #30384C) !important;
  --color: var(--cs-text-primary, #30384C) !important;
  --icon-color: var(--cs-text-primary, #30384C) !important;
  --placeholder-color: var(--cs-text-primary, #30384C) !important;

  .searchbar-input {
    border-radius: 10px !important;
    box-shadow: none !important;
  }
}
/* SETTINGS SEGMENTS
=======================================================
=======================================================*/

ion-segment {
  background: var(--cs-background-primary);
}

ion-segment-button {
  --background: transparent;
  --background-checked: transparent !important;
  --background-focused: transparent !important;
  --background-hover: transparent !important;
  --ripple-color: transparent !important;
  --color: var(--cs-text-primary);
  --color-checked: var(--cs-text-accent) !important;
  --color-focused: var(--cs-text-primary) !important;
  --color-hover: var(--cs-text-primary) !important;
  --indicator-box-shadow: none;
  --border-width: 0 !important;
  --border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
  min-width: unset;
  max-width: unset;
}

//Setting for ios
.ios {
  ion-segment {
    padding: 10px 0 0 0;
    ion-segment-button {
      --indicator-color: transparent;
    }
    .segment-button-checked {
      border-bottom: 2px solid var(--cs-background-accent);
    }
  }
}

/* SETTINGS SUPER TAB
=======================================================
=======================================================*/

super-tabs-toolbar {
  &:after {
    background-image: none !important;
  }
}

super-tabs-container, super-tab {
  width: 100%;
}

super-tab-button {
  flex-grow: 1;
  max-width: unset;
}

/* SETTINGS NEW-CATEGORY
=======================================================
=======================================================*/

.new-category {
  background-color: var(--cs-background-accent, #a92c24);
  color: var(--cs-text-light, #ffffff);
  font-size: var(--h4-font-size, 15px);
  font-weight: 700;
  line-height: 17px;
  padding: 10px 20px;
}

/* SETTINGS WIZARD
=======================================================
=======================================================*/

.swiper-pagination-bullet-active {
  --bullet-background: var(--cs-background-accent, #a92c24) !important;
  background: var(--bullet-background) !important;
}

cs-wizard-layout-1 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 50px !important;
  }
}

cs-wizard-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 0 !important;
  }
}

cs-wizard-layout-3 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 50px !important;
  }
}

cs-wizard-layout-4 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 10px !important;
  }
}

cs-profile-layout-2 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -35px !important;
  }
}

cs-profile-layout-4 {
  .swiper-pagination.swiper-pagination-bullets {
    bottom: -25px !important;
  }
}

/* Default Overview Ionic Section
=======================================================
=======================================================*/

.background-size {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.background-white {
  background-color: var(--cs-background-primary, #fff);
}

[slot=end] {
  margin-inline-start: 0;
}

[slot=start] {
  margin-inline-end: 16px;
}

.ios {
  [slot=start] {
    margin-inline-end: 16px;
  }
}

.border-radius {
  border-radius: 5px;
}

.no-border-radius {
  border-radius: 0;
}

.no-box-shadow {
  box-shadow: none !important;
}

.transparent {
  --background: transparent;
}

.box-shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2) !important;
  position: relative;
  z-index: 999;
}

.clearfix {
  display: block;
  clear: both;
}

/* Settings Spinner
================================================
================================================*/
ion-spinner {
  width: 40px;
  height: 40px;
  color: var(--cs-background-accent, #a92c24) !important;
}

cs-spinner {
  &.svg-size {
    font-size: 45px;
    color: var(--cs-background-accent, #a92c24) !important;
    stroke: var(--cs-background-accent, #a92c24) !important;
    fill: var(--cs-background-accent, #a92c24) !important;
  }
}
/* Settings Reorder Group
================================================
================================================*/
ion-reorder-group {
  ion-item {
    --inner-padding-end: 0 !important;
  }

  ion-reorder {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    background: var(--cs-background-secondary, #F5F5F5) !important;
  }
}
/* Settings Picker
================================================
================================================*/
ion-picker {
  .picker-button {
    color: var(--cs-text-accent) !important;
  }

  .picker-opt {
    color: var(--cs-text-primary) !important;
  }

  .picker-opt-selected {
    color: var(--cs-text-accent) !important;
  }
}

/* Settings Select
================================================
================================================*/

ion-select {
  color: var(--cs-text-accent) !important;
}

/* Settings Alert
================================================
================================================*/

ion-alert {
  .alert-wrapper {
    .alert-head {
      .alert-title {
        font-size: var(--h4-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }

      .alert-sub-title {
        font-size: var(--h4-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-accent, #a92c24) !important;
      }
    }

    .alert-message {
      color: var(--cs-text-primary, #30384C) !important;
      font-size: var(--h4-font-size, 15px);
    }

    .alert-radio-group {
      border-top: 1px solid var(--cs-background-border);
      border-bottom: 1px solid var(--cs-background-border);

      .alert-radio-label {
        font-size: var(--h4-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }

      .alert-radio-inner.sc-ion-alert-md {
        background-color: var(--cs-background-accent) !important;
      }


      [aria-checked=true].sc-ion-alert-md .alert-radio-inner.sc-ion-alert-md{
        background-color: var(--cs-background-accent) !important;
      }

      [aria-checked=true].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios{
        border-color: var(--cs-background-accent) !important;
      }

      .alert-radio-icon {
        border-color: var(--cs-background-dark, #7f8490) !important;
      }

      [aria-checked=true] .alert-radio-icon {
        border-color: var(--cs-background-accent) !important;
      }

      [aria-checked=true] .alert-radio-label {
        color: var(--cs-text-accent) !important;
      }
    }

    .alert-checkbox-group {
      border-top: 1px solid var(--cs-background-border);
      border-bottom: 1px solid var(--cs-background-border);

      .alert-checkbox-label {
        font-size: var(--h4-font-size, 15px) !important;
        font-weight: 300 !important;
        color: var(--cs-text-primary) !important;
      }

      .alert-checkbox-icon {
        border-color: var(--cs-background-dark, #7f8490) !important;
      }

      [aria-checked=true] .alert-checkbox-label {
        color: var(--cs-text-accent) !important;
      }

      [aria-checked=true] .alert-checkbox-icon {
        background: var(--cs-background-accent) !important;
        border-color: var(--cs-background-accent) !important;
      }
    }

    .alert-button-group {
      .alert-button {
        font-size: var(--h4-font-size, 15px) !important;
        font-weight: 400 !important;
        color: var(--cs-text-primary) !important;
      }
    }
  }
}

/* Settings Popover
================================================
================================================*/

ion-select-popover {
  ion-list {
    padding: 0 !important;

    ion-label {
      font-size: var(--h3-font-size, 17px) !important;
      font-weight: 300 !important;
      color: var(--cs-text-primary) !important;
    }
  }
}

ion-action-sheet {
  .action-sheet-button {
    color: var(--cs-text-secondary) !important;
    font-size: var(--h3-font-size, 17px) !important;
    font-weight: 400 !important;
  }

  .action-sheet-selected {
    color: var(--cs-text-primary) !important;
    font-weight: bold !important;
  }
}

/* Settings Alert Info
================================================
================================================*/
.info-dialog {
  text-align: center;

  .alert-head {
    text-align: center;
  }
}

/* Settings Alert Warning
================================================
================================================*/
.alert-warning {
  text-align: center;

  .alert-head {
    text-align: center;
  }

  .alert-button-group {
    padding: 8px 0 8px 8px !important;
  }

  button {
    width: 100%;
    margin-bottom: 20px;
    font-size: var(--h4-font-size, 15px);
    background: var(--cs-background-accent) !important;

    .alert-button-inner {
      text-align: center;
      color: var(--cs-text-light, #ffffff) !important;
      display: block;
    }
  }
}

/* Settings Alert Subscribe
================================================
================================================*/
.alert-subscribe {
  .alert-input:focus {
    border-bottom: 1px solid var(--cs-background-accent);
  }
}

/* Settings Alert Dialog
================================================
================================================*/
.basic-dialog {
  .alert-input:focus {
    border-bottom: 1px solid var(--cs-background-accent);
  }
}
