<!-- ACTION SHEET --COMPONENT 2-->
<ion-page class="ion-page">
  <!--- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true">
    <div class="header-image background-size " [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <ion-item lines="none" class="transparent">
        <ion-label>
          <!-- Category -->
          <span class="text-size-xs text-color-light font-bold ion-text-uppercase">{{data.category}}</span>
          <!-- Parallax-title -->
          <h1 class="text-size-xl text-color-light font-bold ion-text-wrap">{{data.title}}</h1>
        </ion-label>
      </ion-item>
    </div>
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col size="12" class="ion-no-padding">
          <ion-item>
            <!-- Avatar-->
            <ion-avatar>
              <img [src]="data.avatar" />
            </ion-avatar>
            <ion-label class="ion-padding-start">
              <h2 class="text-size-md text-color-primary font-bold ion-text-capitalize ion-text-wrap">{{data.subtitle}}</h2>
            </ion-label>
            <!-- Share Button --->
            <ion-button class="button-action-shit" slot="end" (click)="presentActionSheet(data, $event)">
              <ion-icon [name]="data.shareIcon"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item lines="none" *ngFor="let item of data.items;let i = index">
            <ion-label>
              <h2 class="text-size-md text-color-primary font-regular ion-text-wrap ipon-padding-bottom">{{item.title}}</h2>
              <p class="text-size-xs text-color-secondary font-regular ion-text-wrap">{{item.subtitle}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
