/* Style component 2
========================================================*/
ion-card {

  .card-image {
    position: relative;

    img {
      width: 100% !important;
    }

    .card-title-section {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      bottom: 0;
      right: 0;

      .text-size-xl {
        line-height: 39px;
      }
    }
  }

  ion-item {
    --inner-padding-end: 0;
  }
}
