<!-- ALERT --COMPONENT 1 -->
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items"
    (click)="presentAlert(item, $event)">
      <ion-card class="ion-padding box-shadow border-radius no-margin">
        <img [src]="item.image" />
        <ion-card-content class="ion-no-padding ion-margin-top">
          <h2 class="text-size-xs text-color-secondary font-regular">{{item.subtitle}}</h2>
          <h1 class="text-size-lg text-color-primary font-bold">{{item.title}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
