<!--  Theme Form - Form + Write Comment -->
<ion-content *ngIf="viewEntered">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides #wizardSlider *ngIf="data != null" pager="true"
        (ionSlideDidChange)="ionSlideDidChange($event)"
        (ionSlideReachStart)="ionSlideReachStart($event)"
        (ionSlideReachEnd)="ionSlideReachEnd($event)">
          <ion-slide *ngFor="let item of data.items;">
            <ion-card class="ion-text-start ion-padding-bottom"
            (click)="onItemClickFunc(item, $event)">
              <div class="background-size "
              [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
              </div>
              <!--Card content-->
              <ion-card-content class="ion-text-center">
                <!--Wiazard Subtitle-->
                <p class="text-size-xs text-color-primary font-light">
                  {{item.welcome}}</p>
                <div class="clearfix"></div>
                <!--Wizard Title-->
                <h1 class="text-size-md text-color-primary font-bold">
                  {{item.title}}</h1>
                <div class="clearfix"></div>
                <!--Wizard Description-->
                <p class="text-size-xs text-color-secondary
                font-light ion-padding-top">{{item.description}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <!--Button section-->
        <div class="ion-margin-top" *ngIf="data != null">
          <ion-button class="text-color-primary ion-text-capitalize"
          expand="full" fill="clear" (click)="onNextFunc()" *ngIf="next">
            {{data.btnNext}}
          </ion-button>
          <ion-button class="text-color-primary ion-text-capitalize"
          expand="full" fill="clear" (click)="onFinishFunc()" *ngIf="!next">
            {{data.btnFinish}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
