/* Style component 2
=========================================*/

ion-col,
ion-grid,
ion-row {
  height: 100%;
}

ion-slides {
  position: relative;
  height: calc(100% - 80px);

  ion-card {
    height: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;

    .background-size {
      height: 50%;
      position: relative;
    }
  }
}
