<ion-header [ngClass]="{'active': isHeaderVisible }" >
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Basic -->
<ion-page class="ion-page">
  <!--- Header Big Image-->
  <ion-content scrollEvents="true" parallax-header *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image">
      <div class="background-size" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <div class="info-section" *ngFor="let item of data.items;let i = index">
          <ion-item class="transparent" lines="none">
            <ion-label>
              <span class="new-category ion-text-uppercase ion-float-start">{{item.category}}</span>
              <div class="clearfix"></div>
              <h1 class="text-size-xl text-color-light font-bold ion-float-start">{{item.title}}</h1>
              <div class="clearfix"></div>
              <!--Title parallax-->
              <h2 class="text-size-md text-color-light font-regular ion-float-start">{{item.subtitle}}</h2>
              <div class="clearfix"></div>
            </ion-label>
            <ion-label slot="end">
              <ion-button class="button-action-shit ion-float-end">
                <ion-icon [name]="data.shareIcon"></ion-icon>
              </ion-button>
              <div class="clearfix"></div>
              <ion-badge class="ion-text-uppercase ion-float-end">{{item.button}}</ion-badge>
            </ion-label>
          </ion-item>
        </div>
      </div>
      <div class="box-shadow margin-bottom ion-padding" *ngFor="let item of data.items;let i = index">
        <h2 class="text-size-md text-color-primary font-regular">{{item.titleDescription}}</h2>
      </div>
    </div>
    <!-- Content -->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-margin-top ion-no-padding" size="12" *ngFor="let item of data.items;let i = index">
          <ion-item lines="none" *ngFor="let productDescription of item.productDescriptions">
            <ion-label>
              <p class="text-size-md text-color-secondary font-regular ion-text-wrap">{{productDescription.description}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
