<!-- ALERT --COMPONENT 2 -->
<ion-grid>
  <ion-row *ngIf="data != null">
    <ion-col size="12" size-md="6" *ngFor="let item of data.items"
    (click)="presentAlert(item, $event)">
      <!-- Card -->
      <ion-card class="ion-padding ion-no-margin box-shadow border-radius">
        <img [src]="item.image" />
        <ion-card-content class="ion-text-center ion-no-padding ion-margin-top">
          <h2 class="ion-text-capitalize text-size-lg text-color-primary font-bold">{{item.title}}</h2>
          <span class="ion-text-capitalize text-size-sm text-color-primary font-regular">{{item.category}}</span>
          <div class="clerfix"></div>
          <!-- Button Like -->
          <ion-button class="button-icon">
            <ion-icon class="icon-small" slot="start" [name]="item.iconLike"
            (click)="onLikeFunc(item, $event)"></ion-icon>
            {{item.numberLike}}
          </ion-button>
          <!-- Button Commnets -->
          <ion-button class="button-icon">
            <ion-icon class="icon-small" slot="start" [name]="item.iconComment"
            (click)="onCommentFunc(item, $event)"></ion-icon>
            {{item.numberCommnet}}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
