/* Settings Button
===========================================*/

/* Settings pages 1 */
.page1 {
  ion-card {
    margin: 5px 10px;
    border-radius: var(--border-radius);
  }

  .social-share {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

/* Settings pages 2 */
.page2 {
  ion-card {
    position: relative;
    height: 250px;
    border-radius: var(--border-radius, 5px);
    margin: 10px;
  }

  ion-item {
    position: absolute;
    --background: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0;
    right: 0;
  }
}

/* Settings pages 3 */
.page3 {
  ion-card {
    border-radius: var(--border-radius, 5px);
    margin: 10px;
  }
}
