/* Settings Scroll Segment
===========================================*/
// Setting scrollable toolbar
:host {
  --st-scrollable-toolbar-padding-left: 5px !important;
}
// Setting scroll button

.ion-color-primary {
  background: var(--cs-background-primary) !important;
  --ion-color-contrast: var(--cs-background-accent) !important;
}

.page1 {
  .icon-chatbubbles {
    flex: unset;

    .icon-large {
      color: var(--cs-icon-color-primary) !important;
    }
  }

  .social-share {
    display: flex;
  }

  ion-img {
    overflow: hidden;
  }
}

.page2 {
  ion-card {
    background: var(--cs-background-primary) !important;
    display: inline-flex;
    position: relative;
    width: calc(100% - 16px);
    flex: none;

    ion-card-header {
      width: 50%;
      height: auto !important;
      min-height: 150px;
    }

    .background-size {
      height: 100%;
    }

    ion-card-content {
      padding: 8px;
      width: 50%;
      align-self: center;
    }
  }
}

.page3 {
  ion-card {
    background: var(--cs-background-primary) !important;
    display: inline-flex;
    position: relative;
    width: calc(100% - 16px);
    flex: none;

    ion-card-header {
      width: 50%;
      align-self: center;
    }

    .background-size {
      height: 100%;
    }

    ion-card-content {
      width: 50%;
      height: auto !important;
      min-height: 150px;
    }
  }
}
