
.sunset-orange {
  --background: #FB5135 !important;
}

.mocha {
  --background: #7A271A !important;
}

.seagull {
  --background: #6DB1E6 !important;
}

.turquoise {
  --background: #37E6CA !important;
}

.bull-shot {
  --background: #7A4D20 !important;
}

.olive-drab {
  --background: #7AA82B !important;
}

.flush-orange {
  --background: #FA8000 !important;
}

.my-sin {
  --background: #FF8827 !important;
}

.pastel-green {
  --background: #58E69D !important;
}

.emerald {
  --background: #32C763 !important;
}
