<ion-header [ngClass]="{'active': isHeaderVisible }" >
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Product -->
<ion-page class="ion-page">
  <!--- Header Big Image -->
  <ion-content scrollEvents="true" parallax-header *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image">
      <div class="ion-padding background-size" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      </div>
      <div class="info-block ion-text-center box-shadow ion-margin-bottom ion-padding">
        <!-- Avatar-->
        <ion-avatar>
          <img [src]="data.avatar">
        </ion-avatar>
        <!--- Parallax Subtitle -->
        <h1 class="text-size-xl text-color-primary font-bold" *ngIf="data != null">{{data.title}}</h1>
        <!--- Parallax Title -->
        <h2 class="text-size-md text-color-primary font-regular ion-no-margin" *ngIf="data != null">{{data.subtitle}}</h2>
      </div>
    </div>
    <!--Content-->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <ion-list class="ion-no-margin">
            <ion-item *ngFor="let item of data.items;let i = index" (click)="onItemClickFunc(item, $event)">
              <!--Content Avatar-->
              <ion-avatar class="box-shadow">
                <img [src]="item.avatar">
              </ion-avatar>
              <!--Title and Subtitle -->
              <ion-label class="ion-padding-start">
                <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">{{item.title}}</h2>
                <h3 class="text-size-xs text-color-primary font-light ion-text-wrap">{{item.subtitle}}</h3>
              </ion-label>
              <ion-button class="default-button ion-text-capitalize box-shadow" slot="end">
                {{item.button}}
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
