<!-- EXPANDABLE --COMPONENT 2 -->
<ion-app>
  <!-- Header -->
  <ion-header class="box-shadow">
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content *ngIf="data != null">
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="data != null">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-list>
          <ul class="collapsible ion-no-padding ion-no-margin">
            <li *ngFor="let group of data.items;" class="padding-half">
              <!-- Expandable Full image with CTA Header-->
              <div class="collapsible-header" class="background-size"
              [ngStyle]="{'background-image': 'url(' + group.backgroundImage + ')'}">
                <ion-item lines="none">
                  <ion-label class="ion-text-center">
                    <h1 class="text-size-xl text-color-light font-regular ion-text-wrap ion-padding-top">
                      {{group.title}}</h1>
                    <h2 class="text-size-xs text-color-light font-light ion-text-wrap padding-half">
                      {{group.subtitle}}</h2>
                  </ion-label>
                </ion-item>
                <ion-button class="button-icon ion-text-capitalize" (click)="toggleGroup(group)">
                  <ion-icon slot="start" name="{{group.icon}}"></ion-icon>
                  {{group.iconText}}
                </ion-button>
              </div>
              <!-- Expandable Full image with CTA Body -->
              <div class="item-accordion"
               [ngClass]="{'active': group.show }" [hidden]="!group.show">
                <div (click)="onItemClickFunc(group, $event)">
                  <ion-item lines="none">
                    <!-- Subtitle Title -->
                    <h2 class="text-size-md text-color-primary font-bold ion-text-wrap">
                      {{group.items.title}}</h2>
                    <div slot="end">
                      <div class="ion-float-end">
                        <!-- Icon Rating Star -->
                        <div class="ion-float-start" *ngFor="let item of group.items.iconsStars;let i = index"
                        (click)="onStarClass(group.items.iconsStars, i, $event);">
                          <i *ngIf="item.isActive" class="icon {{item.iconActive}} icon-medium"></i>
                          <i *ngIf="!item.isActive" class="icon {{item.iconInactive}} icon-medium"></i>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <!-- Reviews Star -->
                      <p class="text-size-xs text-color-primary font-bold ion-text-wrap ion-float-end ion-no-margin">
                        {{group.items.reviews}}</p>
                    </div>
                  </ion-item>
                  <ion-item lines="none" class="ion-no-padding">
                    <!-- Subtitle Subtitle -->
                    <p class="text-size-xs text-color-primary font-light ion-text-wrap ion-padding-start">
                      {{group.items.description}}</p>
                  </ion-item>
                </div>
              </div>
            </li>
          </ul>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-app>
