<ion-app>
  <!--- Header -->
  <ion-header>
    <ion-toolbar class="box-shadow">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>All</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--- Content text exapmles  --->
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-col size="12">
        <ion-list>
          <div class="title-components ion-text-uppercase ion-padding-bottom text-size-lg">Typography examples:</div>
          <h1 class="text-size-xl">This is example of h1 title.</h1>
          <h2 class="text-size-lg">And this is example of h2 title/subtitle.</h2>
          <h3 class="text-size-md">Example of h3 subtitle is also here.</h3>
          <h4 class="text-size-xs">And h4 subtitle example is here.</h4>
          <h5 class="text-size-sm">h5 subtitle is like this!</h5>
          <h6 class="text-size-sm">And h6 at the end usualy same as h6.</h6>
          <p class="text-size-p">This is example of paragraph text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
          <!--- BUTTON EXAMPLE  --->
          <div class="title-components ion-text-uppercase ion-padding-vertical text-size-md ion-margin-bottom">Button examples:</div>
          <ion-row>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs ion-text-capitalize">Default button</span>
              <div class="clerfix"></div>
              <ion-button class="ion-text-capitalize default-button">
                Button
              </ion-button>
            </ion-col>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs ion-text-capitalize">Button with icon</span>
              <div class="clerfix"></div>
              <ion-button class="ion-text-capitalize button-icon">
                <ion-icon class="icon-small" slot="start" name="star"></ion-icon>
                Button
              </ion-button>
            </ion-col>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs ion-text-capitalize">Clear button</span>
              <div class="clerfix"></div>
              <ion-button class="ion-text-capitalize clear-button" fill="clear">
                Button
              </ion-button>
            </ion-col>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs ion-text-capitalize">Action Sheet Button</span>
              <div class="clerfix"></div>
              <ion-button class="button-action-shit">
                <ion-icon class="icon-large" name="ios-more"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <!--- ICON EXAMPLES  --->
          <div class="title-components ion-text-uppercase ion-padding-vertical text-size-md ion-margin-bottom">ICON EXAMPLES:</div>
          <span class="block ion-padding-vertical text-size-xs">Small</span>
          <i class="icon icon-thumb-up icon-small"></i>
          <i class="icon icon-heart icon-small"></i>
          <i class="icon icon-share-variant icon-small"></i>
          <div class="clerfix"></div>
          <span class="block ion-padding-vertical text-size-xs">Medium</span>
          <i class="icon icon-thumb-up icon-medium"></i>
          <i class="icon icon-heart icon-medium"></i>
          <i class="icon icon-share-variant icon-medium"></i>
          <div class="clerfix"></div>
          <span class="block ion-padding-vertical text-size-xs">Large</span>
          <i class="icon icon-thumb-up icon-large"></i>
          <i class="icon icon-heart icon-large"></i>
          <i class="icon icon-share-variant icon-large"></i>
        </ion-list>
      </ion-col>
    </ion-grid>
  </ion-content>
</ion-app>
