<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="UniversalAnalytics">
    <param name="ios-package" value="UniversalAnalyticsPlugin"/>
  </feature>

  <feature name="BarcodeScanner">
    <param name="ios-package" value="CDVBarcodeScanner"/>
  </feature>

  
  <preference name="ScrollEnabled" value="false" />
  <preference name="android-minSdkVersion" value="21" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="loadUrlTimeoutValue" value="60000" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="ShowSplashScreenSpinner" value="false" />
</widget>