<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35746781300-2khm3rptd5tqktin77rsed3li5ja49jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35746781300-2khm3rptd5tqktin77rsed3li5ja49jn</string>
	<key>API_KEY</key>
	<string>AIzaSyAxNDH9VStXzDGnILUEThvkkiCAmbsmFnI</string>
	<key>GCM_SENDER_ID</key>
	<string>35746781300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cottrell.covidcount</string>
	<key>PROJECT_ID</key>
	<string>covid-counts</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-counts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35746781300:ios:5ecab8e6dd9fc3a07b1921</string>
	<key>DATABASE_URL</key>
	<string>https://covid-counts.firebaseio.com</string>
</dict>
</plist>